
        h1{
            color: burlywood;
        }
        img{
            width: 400px;
        }
        #thirdDiv{
            height: 600px;
            width: 500px;
            background-color: chocolate;
            padding: 50px;
            border:solid blue;
        }
        #spanId{
            font-size: 18px;
            margin: 50px;
        }
/*Extra credits*/

html{
    background-image: url(https://thumbs.dreamstime.com/z/fondo-incons%C3%BAtil-de-la-comida-diaria-del-desayuno-77279940.jpg);
    display: flex;
    justify-content: center;
}
div{
    display: grid;
    justify-content: center;
    background-color: whitesmoke;
    height: 200px;
    width: 500px;
}

 